* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #34495E;
  }
  /* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: -5px 0;
}

.score {
  color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.342);
  background-color: #536A7F;
  padding: 16px;
  text-align: center;
  height: 15%;
  width: 25%;
}

.ip {
  color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.342);
  background-color: #536A7F;
  margin-left: 45%;
  padding: 16px;
  text-align: center;
  height: 10%;
  width: 50%;
}

.categories {
  color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.342);
  background-color: #536A7F;
  margin-top: 15%;
  padding: 16px;
  text-align: center;
  height: 70%;
  width: 100%;
}

.map {
  color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.342);
  background-color: #536A7F;
  margin-top: -73.5%;
  padding: 16px;
  text-align: center;
  height: 70%;
  width: 100%;
}



.circle {
  height: 50px;
  width: 50px;
  background-color: rgba(51, 189, 17, 0.671);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.342);
  border-radius: 50%;
  margin-left: 30%;
}


.column_mini {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row_mini {
  margin: 0 -5px;
}

/* Clear floats after the column_minis */
.row_mini:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 10%;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: transparent;
  height: 35%;
}

.category_name {
  margin-bottom: 35%;
}